/* 同じようなやつをまとめるファイル */

.column:nth-child(1) {
  position: fixed;
  background-color: #444;
}

.column:nth-child(2) {
  position: fixed;
  left: 35%;
  background-color: #555;
}

.column:nth-child(3) {
  position: fixed;
  left: 45%;
  background-color: #777;
}

.column:nth-child(4) {
  position: fixed;
  left: 55%;
  background-color: #999;
}

.column:nth-child(5) {
  position: fixed;
  left: 65%;
  background-color: #a9a9a9;
}

.column.active {
  /* background-color: #66c496; */
  background: linear-gradient(rgba(60, 58, 58, 0.6), rgba(140, 145, 144, 0.6), rgba(202, 234, 226, 0.6));
}

/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */
/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */
/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */
/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */


#Perfect {
  position: absolute;
  bottom: 35%;
  /* right: 50%; */
  right: 55%;
  font-size: 0; /* 初期状態では非表示 */
  transform: translateX(50%) scale(0.8); /* 初期状態の拡大率 */
  display: none;
  background: linear-gradient(90deg, #41a8d0, #4173d0 30%, #de70ff);
  background: -webkit-linear-gradient(0deg, #41a8d0, #419cd0 30%, #d470ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: perfect-appear 0.1s ease-out forwards;
}

@keyframes perfect-appear {
  0% {
    opacity: 0;
    font-size: 40px;
    transform: translateX(50%) scale(0.9);
  }
  100% {
    opacity: 1;
    font-size: 50px; /* 少し小さくなるフォントサイズ */
    transform: translateX(50%) scale(1);
  }
}

/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */


#Great {
  position: absolute;
  bottom: 35%;
  /* right: 50%; */
  right: 55%;
  font-size: 0; /* 初期状態では非表示 */
  transform: translateX(50%) scale(0.8); /* 初期状態の拡大率 */
  display: none;
  background: linear-gradient(90deg, #d05941, #d09241 30%, #ffde70);
  background: -webkit-linear-gradient(0deg, #d05941, #d09241 30%, #ffde70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Great-appear 0.3s ease-out forwards;
}

@keyframes Great-appear {
  0% {
    opacity: 0;
    font-size: 40px;
    transform: translateX(50%) scale(0.9);
  }
  100% {
    opacity: 1;
    font-size: 50px; /* 少し小さくなるフォントサイズ */
    transform: translateX(50%) scale(1);
  }
}

/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */

#Good {
  position: absolute;
  bottom: 35%;
  /* right: 50%; */
  right: 55%;
  font-size: 0; /* 初期状態では非表示 */
  transform: translateX(50%) scale(0.8); /* 初期状態の拡大率 */
  display: none;
  background: linear-gradient(90deg, #d0c241, #7fd041 30%, #70ff8a);
  background: -webkit-linear-gradient(0deg, #d0c241, #7fd041 30%, #70ff8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Good-appear 0.3s ease-out forwards;
}

@keyframes Good-appear {
  0% {
    opacity: 0;
    font-size: 40px;
    transform: translateX(50%) scale(0.9);
  }
  100% {
    opacity: 1;
    font-size: 50px; /* 少し小さくなるフォントサイズ */
    transform: translateX(50%) scale(1);
  }
}

/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */

#Miss {
  position: absolute;
  bottom: 35%;
  /* right: 50%; */
  right: 55%;
  font-size: 0; /* 初期状態では非表示 */
  transform: translateX(50%) scale(0.8); /* 初期状態の拡大率 */
  display: none;
  background: linear-gradient(90deg, #ffffff, #a8a8a8 30%, #1f1e33);
  background: -webkit-linear-gradient(0deg, #ffffff, #a8a8a8 30%, #1f1e33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Miss-appear 0.3s ease-out forwards;
}

@keyframes Miss-appear {
  0% {
    opacity: 0;
    font-size: 40px;
    transform: translateX(50%) scale(0.9);
  }
  100% {
    opacity: 1;
    font-size: 50px; /* 少し小さくなるフォントサイズ */
    transform: translateX(50%) scale(1);
  }
}




/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */
/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */
/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */
/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */
/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */
/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */
/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */

#PerfectCount{
  position: fixed;
  top: 30%;
  right: 13%;
  font-size: 36px;

}#GreatCount{
  position: fixed;
  top: 40%;
  right: 13%;
  font-size: 36px;
}

#GoodCount{
  position: fixed;
  top: 50%;
  right: 13%;
  font-size: 36px;
}

#MissCount{
  position: fixed;
  top: 60%;
  right: 13%;
  font-size: 36px;
}

/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */

.left{
  left: 5vw;
}

.right{
  left: 50vw;
}

.wide{
  left: 5vw;
  width: 84.1vw;
}

.Key4{
  display: none;
}

/*   //////////////////////////////////////////////////////////////////////////////////////////////////// */


#button6{
  display: none;
}

#button8{
  display: none;
  margin-bottom: 5%;
}
#button10{
  display: none;
  margin-bottom: 5%;
}
#button11{
  display: none;
  margin-bottom: 1%;
}

.Menu{
  width: 100%;
}

.hello{
  display: none;
}.helloo{
  display: none;
}

#Exback4K{
  display: none;
}

#back4K{
  display: none;
}

.buttonHr{
  display: none;
}