html {
  background-color: #cdcdcd;
  margin: 0;
  padding: 0;
}


#main{
  position: relative;
}

/* 4レーン */
.game-container {
  display: flex;
  margin-top: -8px;
  height: calc(100vh - 16px);
  /* perspective: 300px;  */
}

.column {
  /* transform: rotateX(60deg); */
  left: 30%;
  width: 10%;
  height: 100%;
  background-color: #222;
  position: relative;
}


/* ノーツの見た目 */
.note {
  width: 99%;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 1px;
  animation: note-fall 1s linear infinite;
  transform: translateY(100%);
}

/* ノーツの落下 */
@keyframes note-fall {
  0% {
    top: 1px;
  }
  100% {
    top: 100%;
  }
}


#combo{
  position: absolute;
  top: 20%;
  right: 50%;
  font-size: 100px;
  transform: translateX(50%);
  display: inline-block;
  background: linear-gradient(90deg, #41bbd0, #4173d0 30%, #de70ff);
  background: -webkit-linear-gradient(0deg, #41bbd0, #419cd0 30%, #d470ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#score{
  position: fixed;
  top: 5%;
  left: 5%;
  font-size: 20px;
}

#accuracy{
  color: #e5e5e567;
  position: fixed;
  top: 20%;
  right: 50%;
  font-size: 50px;
  transform: translateX(50%);
}

.line{
  content: "";
  position: fixed;
  height: 10px;
  /* width: 120%; */
  width: 40%;
  /* top: 85%; */
  bottom: 80px;
  left: 30%;
  background-color: red;
  z-index: 200;
  /* transform: rotateX(60deg) */
}

.changer{
  position: fixed;
  top: 50%;
  left: 5%;
}

.button{
  position: fixed;
  display: flexbox;
  font-size: 20px;
  top: 15%;
  left: 5%;
  width: 150px;
}

.Start{
  width: 100%;
}

.hello{
  position: fixed;
  width: 2%;
  top: -15px;
  left: -2px;
}

.key{
  position: absolute;
  color: #ffffff23;
  top: 30%;
  left: 50%;
  font-size: 50px;
  transform: translateX(-50%);
}


